ul{
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    gap: 16px;
}

li{

}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header_kep{
    height: 50px;
    width: auto;    
}
.writer{
    font-weight: bold;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 5%;

}

.elso_szoveg {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: flex-start;
    margin-top: 5%;
    background-color: #1f2937; 
    margin-right: 2%;
}

.elso_konti {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_text{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    padding: 8px;
}

.secondary_text{
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
}
.sign {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: #fff;
    padding: 8px 32px 8px 32px;
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 8px;
  }


.pic_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:75px;


}
.elso_kep {
    max-height: 250px;
    width: auto;
    align-items: center;
    border-radius: 10%; 
}


.masodik{
    display: flex;
    justify-content: center;
    align-items: center;
}


.masodikcim {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 50px;
    margin-top: 50px;
}


.nagykonti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.masodik_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 50px;
    flex-wrap: wrap;
}


.doboz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}


.kisdoboz {
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10%;
    height: 150px;
    width: 150px;
    flex: auto;
}

.dobozkep {
    border-color: #3882F6;
    object-fit: cover;
    border-radius: 10%;
    max-height: 150px;
    width: 150px;
    

}
.kisszoveg {
    text-align: center;
    margin: 10px 15px 10px 15px;
    font-size: 18px;
    width: 150px;
    



}
.harmadik{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin-left:20%;
    margin-right: 20%;
    padding: 50px;
   
}
.idezet{
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    margin-bottom: 5%;
}
.writer{
    font-weight: bold;
}

.negyedik{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.negyedik_container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 2% 4% 2% 4%;
    margin: 3%;
}


.negyedik_szoveg{
    color: #E5E7EB;
}

.negyedik_cim {
    font-size: 24px;
}

.negyedik_alszoveg {
    font-size: 18px;
    margin-right: 64px;
}

.negyedik_gomb {
    background: #3882F6;
    border: 1px solid #f9faf8;
    color: #fff;
    padding: 8px 32px 8px 32px;
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 8px;
    font-weight: 400;
    

}
.footer{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 34px;
    font-weight: 900;

}
